<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href='/images/logo2.gif'>
    <title>Welcome, <%=username%></title>
    <link rel="stylesheet" href="/stylesheets/accountInterface.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/jquery.validationEngine.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/languages/jquery.validationEngine-en.min.js"></script>
    <script>
        function logoff() {
            window.location.href = "/logout";
        }
        function homePage() {
            window.location.href = "/accountInterface";
        }
        function bookmarkPage() {
            window.location.href = "/accountInterface/bookmark";
        }
        function personalInfoPage() {
            window.location.href = "/accountInterface/personalinfo"
        }
        function friendsPage() {
            window.location.href = "/accountInterface/friends";
        }
        function prefPage() {
            window.location.href = "/accountInterface/preferences";
        }
        function home() {
            window.location.href = "/home";
        }
        var id;
        $(document).ready(function() {
            // Change username
            $('.usernameContainer').click(function() {
                id = $(this).attr("name");
                $('#usernameChangeModal').modal({show:true});
            });
            $('#submitUsername').click(function() {
                var un = document.getElementById("modalUserNameChange").value;
                ajaxChangeUserName(id, un);
            });
            // Change name
            $('.nameContainer').click(function() {
                id = $(this).attr("name");
                $('#nameChangeModal').modal({show:true});
            });
            $('#submitName').click(function() {
                var fname = document.getElementById("modalFirstNameChange").value;
                var lname = document.getElementById("modalLastNameChange").value;
                ajaxChangeName(id, fname, lname);
            });
            // Cannot change email
            $('.emailContainer').click(function() {
                alert("Cannot change email");
            });
            // Cannot change date of birth
            $('.dobContainer').click(function() {
                alert("Cannot change date of birth");
            });
            // Change phone
            $('.phoneContainer').click(function() {
                id = $(this).attr("name");
                $('#phoneChangeModal').modal({show:true});
            });
            $('#submitPhone').click(function() {
                var ph = document.getElementById("modalPhoneChange").value;
                ajaxChangePhone(id, ph);
            });
            // Change location
            $('.locationContainer').click(function() {
                id = $(this).attr("name");
                $('#locationChangeModal').modal({show:true});
            });
            $('#submitLocation').click(function() {
                var city = document.getElementById("modalCityChange").value;
                var state = document.getElementById("modalStateChange").value;
                var zip = document.getElementById("modalZipChange").value;
                ajaxChangeLocation(id, city, state, zip);
            });
            // Change password
            $('.contentContainer1').click(function() {
                id = $(this).attr("name");
                $('#passowrdChangeModal').modal({show:true});
            });
            $('#submitPassword').click(function() {
                var pw = document.getElementById("modalPasswordChange").value;
                ajaxChangePassword(id, pw);
            });

            // Make sure username is unique
            $('#modalUserNameChange').on('change', function() {
                var username = document.getElementById("modalUserNameChange").value;
                $.get("/isUnique?uname="+username, function (response) {
                    if (response.UserNameInUse) {
                        alert("that username is not available");
                    }
                })
            });
            $(window).keydown(function(event){
                if(event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        })

        function ajaxChangeUserName(id, un) {
            $.ajax({
                type : "GET",
                url: "/ChangeUN?id="+id+"&username="+un,
                success : function(result){
                    alert("change made successfully");

                    location.reload();
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                }
            });
        }
        function ajaxChangeName(id, fname, lname) {
            $.ajax({
                type : "GET",
                url: "/ChangeName?id="+id+"&fname="+fname+"&lname="+lname,
                success : function(result){
                    alert("change made successfully");

                    location.reload();
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                }
            });
        }
        function ajaxChangePhone(id, ph) {
            $.ajax({
                type : "GET",
                url: "/ChangePhone?id="+id+"&phone="+ph,
                success : function(result){
                    alert("change made successfully");

                    location.reload();
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                }
            });
        }
        function ajaxChangeLocation(id, city, state, zip) {
            $.ajax({
                type : "GET",
                url: "/ChangeLocation?id="+id+"&city="+city+"&state="+state+"&zip="+zip,
                success : function(result){
                    alert("change made successfully");

                    location.reload();
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                }
            });
        }
        function ajaxChangePassword(id, pw) {
            $.ajax({
                type : "GET",
                url: "/ChangePassword?id="+id+"&pw="+pw,
                success : function(result){
                    alert("change made successfully");

                    location.reload();
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                }
            });
        }

        // Making sure that the password satisfies the requirements
        function satisyReq() {
            var password = document.getElementById("modalPasswordChange");
            console.log("check");
            var passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
            if(!password.value.match(passw)){
                password.style="border-color:red;";
                alert("Make sure your password satisfied the following format:\n* contains at least one number \n* one uppercase and lowercase letter\n* at least 8 or more characters");
            }
            password.style="border-color:black; background:none";
        }
        function validatePassword() {
            var password = document.getElementById("modalPasswordChange")
                , confirm_password = document.getElementById("modalConfirmPasswordChange");
            console.log("check");
            if(password.value != confirm_password.value) {
                alert("passwords do not match");
            }
            var passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
            if(!password.value.match(passw)){
                password.style="border-color:red;";
                alert("Make sure your password satisfied the following format:\n* contains at least one number \n* one uppercase and lowercase letter\n* at least 8 or more characters");
            }
            password.style="border-color:black; background:none";
        }
    </script>
</head>

<body>

<div class="wrapper">
    <div class="PersonalInformationModal">
        <img src="/images/logo2.gif" alt="Logo" class="center logo" onclick="home()"> <!-- for logo -->
        <!-- Formats the sign up information box -->
        <h1><center>Personal Info</center></h1>
        <form class="personalInfoContainer">
            <div class="box">
                <div class="contentContainer usernameContainer" name="<%=docID%>">
                    <span class="containerLabel">Username:</span><span class="usernameContent content"><%=username%></span>
                </div>
                <div class="contentContainer nameContainer" name="<%=docID%>">
                    <span class="containerLabel">Name:</span><span class="fullNameContent content"><%=userInfo.firstname%> <%=userInfo.lastname%></span>
                </div>
                <div class="contentContainer emailContainer" name="<%=docID%>">
                    <span class="containerLabel">Email:</span><span class="emailContent content"><%=userInfo.email%></span>
                </div>
                <div class="contentContainer phoneContainer" name="<%=docID%>">
                    <span class="containerLabel">Phone:</span><span class="phoneContent content"><%=userInfo.phone%></span>
                </div>
                <div class="contentContainer dobContainer" name="<%=docID%>">
                    <span class="containerLabel">Date of Birth:</span><span class="phoneContent content"><%=userInfo.dateofbirth%></span>
                </div>
                <div class="contentContainer locationContainer" name="<%=docID%>">
                    <span class="containerLabel">Location:</span><span class="locationContent content"><%=userInfo.city%>, <%=userInfo.state%> <%=userInfo.sipcode%></span>
                </div>
            </div>
        </form>
        <h1><center>Security</center></h1>
        <form class="personalInfoContainer">
            <div class="box">
                <div class="contentContainer secqContainer" name="<%=docID%>">
                    <span class="containerLabel1">Security Question:</span><span class="sqContent content"><%=userInfo.securityquestion%></span>
                </div>
                <div class="contentContainer secaContainer" name="<%=docID%>">
                    <span class="containerLabel1">Security Answer:</span><span class="saContent content"><%=userInfo.securityanswer%></span>
                </div>
                <div class="contentContainer1" name="<%=docID%>">
                    <span class="changePassword">Change Password</span>
                </div>
            </div>
        </form>

<!--        <center><button type="submit">Submit</button></center>-->

    </div>
<div class="sidenav">
    <a href="/accountInterface">Home</a>
    <a href="/accountInterface/personalinfo" class="active">Personal Info</a>
    <a href="/accountInterface/friends">Friends</a>
    <a href="/accountInterface/preferences">Preferences</a>
    <a href="/accountInterface/bookmark">Bookmarks</a>
    <a href="/logout">Logout</a>
</div>

</div>

<script>

    function hidePassword() {
        var x = document.getElementById("myPw");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

    function hideAnswer() {
        var x = document.getElementById("myAns");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
<div class="changeModal" id="usernameChangeModal">
    <!-- Modal content-->
    <div class="modal-content">
        <div class = "modal-top-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
        <div class="modal-header">
            <h4 class="modal-title">Change Username</h4>
        </div>
        <div class="modal-body">
            <input type = "text" id = "modalUserNameChange" class = "modalNameChangeInput" placeholder = "Username" value = "">

            <input type = "button" id = "submitUsername" class = "modalSubmitButton" value="Submit">
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
<div class="changeModal" id="nameChangeModal">
    <!-- Modal content-->
    <div class="modal-content">
        <div class = "modal-top-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
        <div class="modal-header">
            <h4 class="modal-title">Change Name</h4>
        </div>
        <div class="modal-body">
            <input type = "text" id = "modalFirstNameChange" class = "modalNameChangeInput" placeholder = "First Name" value = "">
            <input type = "text" id = "modalLastNameChange" class = "modalNameChangeInput" placeholder = "Last Name" value = "">

            <input type = "button" id = "submitName" class = "modalSubmitButton" value="Submit">
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
<div class="changeModal" id="phoneChangeModal">
    <!-- Modal content-->
    <div class="modal-content">
        <div class = "modal-top-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
        <div class="modal-header">
            <h4 class="modal-title">Change Name</h4>
        </div>
        <div class="modal-body">
            <input type = "text" id = "modalPhoneChange" class = "modalNameChangeInput" placeholder = "Phone Number" value = "">

            <input type = "button" id = "submitPhone" class = "modalSubmitButton" value="Submit">
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
<div class="changeModal" id="locationChangeModal">
    <!-- Modal content-->
    <div class="modal-content">
        <div class = "modal-top-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
        <div class="modal-header">
            <h4 class="modal-title">Change Location</h4>
        </div>
        <div class="modal-body">
            <input type = "text" id = "modalCityChange" class = "modalNameChangeInput" placeholder = "City" value = "">
            <input type = "text" id = "modalStateChange" class = "modalNameChangeInput" placeholder = "State" value = "">
            <input type = "text" id = "modalZipChange" class = "modalNameChangeInput" placeholder = "Zip Code" value = "">

            <input type = "button" id = "submitLocation" class = "modalSubmitButton" value="Submit">
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
<div class="changeModal" id="passowrdChangeModal">
    <!-- Modal content-->
    <div class="modal-content">
        <div class = "modal-top-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
        <div class="modal-header">
            <h4 class="modal-title">Change Password</h4>
        </div>
        <div class="modal-body">
            <input type = "password" id = "modalPasswordChange" class = "modalNameChangeInput" placeholder = "Password" value = "" onchange="satisyReq()">
            <input type = "password" id = "modalConfirmPasswordChange" class = "modalNameChangeInput" placeholder = "Confirm Password" value = "" onchange="validatePassword()">

            <input type = "button" id = "submitPassword" class = "modalSubmitButton" value="Submit">
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
</body>
</html>