<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!---Title of webpage--->
    <title><%=title%> <%=searchTerm%></title>
    <link rel='stylesheet'  href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/yelpSearchPage.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApKBreU4wt1M8_x0wa5wHmYCt5MNHMum4&callback=initMap">
    </script>
    <script>
        // Functions
        function yelpSite() {
            window.open('https://www.yelp.com/');
        }
        function loginSec() {
            window.location.href = "/login";
        }
        function signUpSec() {
            window.location.href = "/register";
        }
        function aboutUsSec() {
            window.location.href = "/aboutUs";
        }
        function home() {
            window.location.href = "/home";
        }
        function helpSec() {
            window.location.href = "/help";
        }

        function initMap() {
            var map = new google.maps.Map(
                document.getElementById('map'), {
                    center: {lat: -34.397, lng: 150.644},
                    zoom: 6
                });
            var infoWindow = new google.maps.InfoWindow;

            var pos = {
                lat: 33.871038,
                lng: -117.99275
                // lat: restaurants[0].coordinates.latitude,
                // lng: restaurants[0].coordinates.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
            infoWindow.open(map);
        }
    </script>
</head>
<body>
<div class="wrapper">
    <div class = "top">
        <div class="top_image">
            <img src="/images/logo2.gif" alt="Avatar" class = "round-image" onclick = "home()">
        </div>
        <!--        <div id="searchBarContainer">-->
        <!--            <form>-->
        <!--                <input class="searchBar" type="search" name="search" placeholder="Deliciousness is just a click away.....">-->
        <!--            </form>-->
        <!--        </div>-->
        <div class="dropdown">
            <button class="dropbtn"><i class="fa fa-user-circle-o fa-3x" aria-hidden="false"></i>
            </button>
            <div class="dropdown-content">
                <li onclick="loginSec()">Log In</li>
                <li onclick = "signUpSec()">Sign Up</li>
                <li onclick = "groupVoteSec()">Group Vote</li>
                <li onclick = "advancedSearch()">Advanced Search</li>
                <li onclick="aboutUsSec()">About Us</li>
                <li onclick="helpSec()">Help</li>
                <li onclick="yelpSite()">Yelp</li>
            </div>
        </div>
    </div>
    <div class="container">
<!--        <div class="sideModify">-->
<!--            <span class="modifyHeader">Modify Search Criteria</span>-->
            <%console.log(restaurants[0].coordinates.latitude)%>
<!--        </div>-->
        <div class="restaurantListContainer">
            <div id="<%=restaurants[0].id%>" class="restEle">
                <span class="name"><%=restaurants[0].name%> - <%=restaurants[0].price%></span><span class="location"><%=restaurants[0].location.city%>,<%=restaurants[0].location.state%> <%=restaurants[0].location.zip_code%></span>
            </div>

        </div>
        <div id="map" style="height: 80%; width: 100%;">

        </div>
    </div>
</div>
</body>
</html>